<h1 id="building-a-reddit-clone-in-sproute">Building a Reddit-clone in Sproute</h1>
<p><a href="http://reddit.com">Reddit</a> is a link-sharing website with users, categories and a voting system to decide which links should be displayed first.</p>
<p>The first thing we should do is identify the dynamic data then define the model that will store the links. The model will need to store the title, the destination link, the subreddit (or category) and how many votes the link has received. Every other field will be created for us through the <a href="/docs/rest#built-in-fields">built-in fields</a>.</p>
<h2 id="models">Models</h2>
<p>Create a model called <code>links</code> and create the following fields and properties:</p>
<ul>
<li><code>title</code>: Text, Required</li>
<li><code>link</code>: Text, Required</li>
<li><code>subreddit</code>: Text, Required</li>
<li><code>vote</code>: Number, Default Value: 0, Write Access: admin</li>
</ul>
<p>You may add more restrictions if you like such as minimum and maximum lengths. The vote must not be writeable except for admins, the highest <a href="/docs/permissions#user-types">user type</a>, otherwise users could change the value of their vote.</p>
<h2 id="pages">Pages</h2>
<p>Now we need a Page to render this data. Pages are just HTML pages that can be extended with the <a href="/docs/pages">Sproute template language</a>. Click on <em>Pages</em> and you will see: header, footer and index. <em>index</em> is the home page. <em>header</em> and <em>footer</em> are pages that will keep a consistent theme by including them in every visible page.</p>
<p>Reddit has a list of the top links from every subreddit (or category) on the front page. We can request this data from the model using a template tag.</p>
<pre><code>{{ get /data/links as links }}</code></pre>
<p>All data in a Sproute app is accessible through an <a href="/docs/rest">HTTP interface</a>, even in the template language. The previous tag will get <strong>all</strong> rows in the links model. Though there could be many links so we should limit the amount to 20. We should also sort the collection by how many votes it received (highest first). Replace the <code>get</code> tag with this:</p>
<pre><code>{{ get /data/links?limit=20&amp;sort=vote,desc as links }}</code></pre>
<p>This will give us the top 20 links by the vote field and store it in a collection called <code>links</code>.</p>
<p>Next we should loop over each item in the collection and render it through HTML.</p>
<pre><code>&lt;ul&gt;
{{ each links as link }}
    &lt;li&gt;
        &lt;strong&gt;{{link.vote}}&lt;/strong&gt;
        &lt;a href=&quot;{{link.link}}&quot;&gt;{{link.title}}&lt;/a&gt;
    &lt;/li&gt;
{{ / }}
&lt;/ul&gt;</code></pre>
<p>The <code>each</code> tag will iterate over a collection so everything inside the tag and it's closing tag ( <code>{{ / }}</code> ) will be repeated and rendered for each element.</p>
<p>Variables are displayed by surrounding the variable name with two curly braces <code>{{ &lt;var&gt; }}</code> (spaces are optional).</p>
<p>We should display some more information about the link because we can. Let's add another line containing some of the meta data.</p>
<pre><code>&lt;ul&gt;
{{ each links as link }}
    &lt;li&gt;
        &lt;strong&gt;{{link.vote}}&lt;/strong&gt;
        &lt;a href=&quot;{{link.link}}&quot;&gt;{{link.title}}&lt;/a&gt;
        &lt;div&gt;
            &lt;a href=&quot;/r/{{link.subreddit}}&quot;&gt;{{link.subreddit}}&lt;/a&gt;
            submitted by {{link._creatorName}},
            {{ ago :link._created }}
        &lt;/div&gt;
    &lt;/li&gt;
{{ / }}
&lt;/ul&gt;</code></pre>
<p>You'll notice some fields are being used that we didn't define! These are the built-in fields mentioned earlier. Every row will automatically store the date it was created and the username of the creator.</p>
<p>We also use a handy tag called <code>ago</code> which will return the date in an approximate time from now (e.g. 5 hours ago). Notice the little colon ( <code>:</code> ) before the variable. It's a special syntax to evaluate the variable before processing the tag. This is because some tags require a variable and some require a value. Another syntax for this is <code>$(&lt;variable&gt;)</code>.</p>
<p>Now we need a way for users to submit a link. To prevent spam, users should be made to register an account before submitting links. Fortunately, user accounts are built into Sproute so this is as easy as creating a Page and a Route (more on this soon).</p>
<p>Create a new Page called <code>login</code> and add the following HTML:</p>
<pre><code>&lt;form action=&quot;/api/login?goto=/&quot; method=&quot;post&quot;&gt;
&lt;label&gt;
    &lt;div&gt;Username:&lt;/div&gt;
    &lt;input type=&quot;text&quot; name=&quot;name&quot; /&gt; 
&lt;/label&gt;
&lt;label&gt;
    &lt;div&gt;Password:&lt;/div&gt;
    &lt;input type=&quot;password&quot; name=&quot;pass&quot; /&gt; 
&lt;/label&gt;
&lt;button type=&quot;submit&quot;&gt;Login&lt;/button&gt;
&lt;/form&gt;</code></pre>
<p>This is just a basic HTML form. The magic happens in <code>/api/login</code> which is an internal endpoint to create a session for a <a href="/docs/users">user</a> and give them <a href="/docs/permissions">access</a> to parts of your application. The query option <code>goto</code> will redirect the user to a URL, in this case index.</p>
<p>Do the same for register but change the action endpoint from <code>/api/login</code> to <code>/api/register</code>.</p>
<h2 id="routes">Routes</h2>
<p>One thing you might have noticed by now is that this page is not yet accessible from the browser. This is because we need to define a Route to match a URL to a Page.</p>
<p>Click on <code>Route</code> to see the current routes. There should be one where <code>/</code> will point to <code>index</code>. Create a route for login where the Route is <code>/login</code> and the page is <code>login</code> (listed in the select menu). Do the same for register.</p>
<p>The reason you must use Routes is because applications can have complex URLs that don't always match up exactly to a page. An example in this reddit clone is subreddits where the URL <code>/r/&lt;subreddit&gt;</code> will point to a special page. We will cover this later in the guide.</p>
<p>One more page we will need is a submit page where users can actually submit their links. Because all data is accessibly and modified over an HTTP interface, we just need a simple HTTP form here as well.</p>
<pre><code>&lt;form action=&quot;/data/links?goto=/&quot; method=&quot;post&quot;&gt;
&lt;label&gt;
    &lt;div&gt;Title:&lt;/div&gt;
    &lt;input type=&quot;text&quot; name=&quot;title&quot; /&gt;
&lt;/label&gt;
&lt;label&gt;
    &lt;div&gt;URL:&lt;/div&gt;
    &lt;input type=&quot;text&quot; name=&quot;link&quot; /&gt;
  &lt;/label&gt;
&lt;label&gt;
    &lt;div&gt;Subreddit:&lt;/div&gt;
    &lt;input type=&quot;text&quot; name=&quot;subreddit&quot; /&gt;
&lt;/label&gt;
&lt;button type=&quot;submit&quot;&gt;Submit Link&lt;/button&gt;
&lt;/form&gt;</code></pre>
<p>This will send a POST request to the <a href="/docs/rest">HTTP interface</a> and create a row in the model. After which it will send the user back to the index route. <strong>Remember to create a Route to point to the submit page called <code>/submit</code></strong>.</p>
<p>You might have noticed this page can be accessible by users that aren't logged in. We have two options to solve this: add a check in the page with template tags or add a permission. We'll go over both starting with the template tag solution. Prepend the following in the submit page.</p>
<pre><code>{{ unless session.user }}
    {{ redirect /login }}
{{ / }}</code></pre>
<p>This will perform some logic so if the <code>session.user</code> variable is empty, redirect the user to the <code>/login</code> route. This is my preferred method as a redirect is more user-friendly than an error message.</p>
<h2 id="permissions">Permissions</h2>
<p>The other option is through Permissions. Click <code>Permissions</code> to see a list of default permissions. You will see some <a href="/docs/routes">complex routes</a> and a required <a href="/docs/permissions#user-types">user type</a>. This will perform a check at the very start of the request to see if the current user meets the minimum required user type.</p>
<p>We can add our own permission for the route <code>/submit</code> that requires the minimum user type to be <code>Member</code>. If the user does not meet this requirement they will be given an error message formatted in JSON. You should also use <code>* ALL</code> for the method as this corresponds to HTTP method and routes will respond to a GET <em>and</em> POST requests.</p>
<p>The other permissions provide some default security that prevents just anyone from deleting or modifying data unless they are the owner or an admin. However you may change these permissions to your discretion.</p>
<p>Now let's go back to the subreddit page we have not yet created. Create a new page called <code>subreddit</code> and copy all the code from <code>index</code> as the subreddit listing page will be largely similar.</p>
<p>The only modification we will need to make is to the <code>get</code> tag.</p>
<pre><code>{{ get /data/link/subreddit/:params.name?limit=20&amp;sort=vote,desc as links }}</code></pre>
<p>This will filter the results based on the <code>subreddit</code> field in the model where the value is equal to <code>:params.name</code>. Let's create the route before explaining the <code>params</code> object.</p>
<p>Create a route to point to the subreddit page with the following pattern: <code>/r/:name</code>. This will match all URLs beginning with <code>/r/</code> and store the value of <code>name</code> as a property on <code>params</code> in the page. This explains <code>:params.name</code>; whatever value is passed into the URL will be matched and stored in <code>params.name</code>.</p>
<p>The biggest feature we left out is voting! How does a user vote on a link? We added a restriction where only admins can write to the <code>vote</code> field. Therefore we need a special page that will allow us to run logic before modifying the data and do so with any role we choose (specifically admin).</p>
<h2 id="complex-pages">Complex Pages</h2>
<p>Create a page called <code>vote</code> and the following route: <code>/vote/:id/:vote</code>. Then we are able to send the unique link identifier and the user vote, either <code>up</code> or <code>down</code> (e.g. <code>/vote/v0c670w79gxecdi/up</code>).</p>
<p>Before we start writing the template logic to increment the vote, we need a way to validate if the user has voted before so they cannot vote multiple times. This can be implemented with a model that will store the link identifier and user identifier along with their vote. That way we can detect if the user has already voted on a link.</p>
<p>Create a Model called <code>votes</code> with the following fields:</p>
<ul>
<li><code>linkID</code>: Text, Required, Unique</li>
<li><code>vote</code>: Text, Required, Allowed Values: up, down</li>
</ul>
<p>The <code>linkID</code> will be a text field with the combination of the link ID and the user ID.</p>
<p>Now back to the <code>vote</code> page. Add the following code:</p>
<pre><code>{{ set key $(params.id)-$(session.user._id) }}

{{ get /data/votes/linkID/:key?single=true as resp }}

{{ if params.vote eq up }}
    {{ set inc.vote 1 }}
{{ else }}
    {{ set inc.vote -1 }}
{{ / }}

{{ if resp }}
    {{ error You voted already }}
{{ else }}
    {{ set obj.linkID :key }}
    {{ set obj.vote :params.vote }}

    {{ post /data/votes/ obj admin as resp }}
    {{ post /data/links/_id/:params.id/inc inc admin }}
    ok
{{ / }}</code></pre>
<p>... Let me explain.</p>
<p>We create a variable called <code>key</code> through the tag: <code>set</code>. It concatenates the <code>linkID</code> and logged in <code>user._id</code> and will generate something like: <code>1fkmauihynnmxnu3di-13hd7v64in4xtj4i</code>. We query the database to see if there are any rows with that unique key. If so then the user has already voted so throw an <a href="/docs/pages#error-message">error</a>. The <code>single=true</code> query option will return the first result in an object instead of array.</p>
<p>If the user has not voted, it will create an object called <code>obj</code> with the generated key and user's vote. Then it will create a new record in the <code>votes</code> model with the user type of <code>admin</code> using the <code>post</code> tag.</p>
<p>Another <code>post</code> tag will <a href="/docs/rest#datamodelfieldvalueinc">increment</a> the vote field based on the users vote set above in the <code>inc</code> object. We also need to run this request as an <code>admin</code> as we previously set the Write Access to <code>admin</code>.</p>
<p>Now users can vote with the following links in <code>index</code> and <code>subreddit</code>:</p>
<pre><code>{{ each links as link }}
    ...
    &lt;a href=&quot;/vote/{{link._id}}/up&quot;&gt;Upvote&lt;/a&gt;
    &lt;a href=&quot;/vote/{{link._id}}/down&quot;&gt;Downvote&lt;/a&gt;
    ...
{{ / }}</code></pre>
<p>Ideally this would be done with an AJAX request as to not take the user to another page.</p>
<p>The last thing we will do is add some more permissions so that users can't modify any of the vote data. Add the following routes with the user type of <code>admin</code>:</p>
<ul>
<li><code>ALL /data/votes</code></li>
<li><code>ALL /data/votes/*</code></li>
</ul>
<p>Obviously we can't cover absolutely every feature of reddit in this guide but it should introduce you to the core concepts and show you the power of Sproute. Sign up for a free account now at <a href="http://getsproute.com">http://getsproute.com</a>.</p>
